<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-5 mat-elevation-z6 myprimary"  >

      <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>Menu</h4>
                <span class="head-line"></span>
                <ul>
                    <li><a routerLink="/home"><i class="fa fa-arrow-right" aria-hidden="true"></i>Home </a></li>
                  <li><a routerLink="/home"><i class="fa fa-arrow-right" aria-hidden="true"></i>Portfolio </a></li>
                  <li><a routerLink="/home"><i class="fa fa-arrow-right" aria-hidden="true"></i>About me </a></li>
                  <li><a routerLink="/contact"><i class="fa fa-arrow-right" aria-hidden="true"></i>Contact </a></li>
                </ul>
                </div>
                <div class="col-3">
                  <h4>Sigueme</h4>
                  <span class="head-line"></span>
                  <ul>
                    <li><a href="https://www.facebook.com/GabrielErrico"><i class="fa fa-facebook-square" aria-hidden="true"></i> Gabriel Errico</a></li>
                    <li><a href="https://www.instagram.com/gaboerrico/"><i class="fa fa-instagram" aria-hidden="true"></i> @gaboerrico</a></li>
                    <li><a href="https://twitter.com/gabrielerrico"><i class="fa fa-twitter" aria-hidden="true"></i> @gabrielerrico</a></li>
                  </ul>
                </div>
                <div class="col-6">
                  <h4>Ely Development</h4>
                  <p>
                    Le ofrezco un servicio de calidad, con los mejores diseños utlizando las tecnologias
                    actuales, asi como un soporte tecnico de excelencia.
                  </p>
                  <p>Cellphone: +39 392 523 8575</p>
                  <p>Email: elyerrico@gmail.com</p>
                </div>
        </div>
      </div>

    <!-- Copyright -->
    <hr class ="style-two">
    <div class="footer-copyright text-center py-3 ">
      <p>© 2019 - Ely Errico</p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->