<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-lg-8 ">
      <!-- START INFORMATION SECTION -->
      <app-info-detail [info]="selectedInfo"></app-info-detail>
      <!-- END INFORMATION SECTION -->
    </div>
    <div class="col-sm-12 col-lg-4 mt-2">
        <!-- START PERFIL SECTION -->
        <div class="card shadow-lg ">
            <h5 class="card-header myprimary" style="color:white;" >Perfil</h5>
            <div class="card-body">
                <img src="../../assets/ely.jpg" alt="" style="max-width:60%;" class="img-thumbnail mx-auto d-block">
                <h5 class="card-title mt-3">Ely Gabriel Errico Villarroel</h5>
                <p class="card-text"><strong>Birth date:</strong> 01/03/1996</p>
                <p class="card-text"><strong>Nationality:</strong> Venezuelan</p>
            </div>   
        </div>
        <!-- END PERFIL SECTION -->
        <!-- START BUTTON GROUP -->
        <div class="mt-5" role="group">
            <button 
            *ngFor="let info of infos"
            [class.selected]="info === selectedInfo"
            class="btn btn-primary btn-lg btn-block" 
            (click)="showElement(info)">{{info.titulo}}</button>
        </div>
        <!-- END BUTTON GROUP -->
    </div>
  </div>
</div>