<div class="modal-header">
  <h2 mat-dialog-title class="text-center display-4"><strong>Ely development</strong></h2>
</div>

<div class="modal-body">
<mat-dialog-content class="mat-typography">
  <h3><strong>Home</strong></h3>
  <p>Aqui encontraras testimonios de personas con las que he trabajado</p>

  <h3><strong>Portfolio</strong></h3>
  <p>Proyectos y paginas web en las que he trabajado, una pequeña prueba de la calidad de mi trabajo</p>

  <h3><strong>About me</strong></h3>
  <p>Mis habilidades, mis conocimientos y experencia en el mundo IT</p>

  <h3><strong>Contact</strong></h3>
  <p>Todos los datos para que me puedas contactar</p>

  <p class="text-right">Gracias por tu visita ;)</p>

</mat-dialog-content>
</div>

<div class="modal-footer">
  
  <mat-dialog-actions align="end">
    <button mat-dialog-close class="btn btn-secondary">Continue</button>
  </mat-dialog-actions>
</div>