<!--JUMBOTRON-->
<div class="jumbotron">
  <div class="text-center">  
    <h1 class="display-4 font-weight-bold">Ely Errico</h1>
    <p class="font-weight-normal">Web developer junior / Web Designer / Help Desk I & II</p>
  </div>
</div>
<!--COMENTARIOS-->
<div class="container">
  <div class="row">
    
    <div class="col-12 mt-5" *ngFor="let comment of comments">
      <blockquote class="blockquote text-center">
          <p class="mb-0">{{comment["comment"]}}</p>
          <footer class="blockquote-footer">{{comment['user']}} <cite title="Source Title">{{comment['position']}}</cite></footer>
      </blockquote>
    </div><br>
  </div>
</div>
    <!--PATNER SESSION-->
    <app-carousel></app-carousel>
    <!--END PATNER SESSION-->

