<!--JUMBOTRON-->
<div class="jumbotron">
  <div class="text-center">  
    <h1 class="display-4 font-weight-bold">Ely Errico</h1>
    <p class="font-weight-normal">Web developer junior / Web Designer / Help Desk I & II</p>
  </div>
</div>
<!--COMENTARIOS-->
<div class="container">
  <div class="row">
    
    <div class="col-12 mt-5">
      <blockquote class="blockquote text-center">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div><br>
    
    <div class="col-12 mt-5">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
  </div>
</div>
